@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.playfair-display-font {
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.roboto-font {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
}

main {
	padding: 14vw 1.5rem 0px;
}

header section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 6rem;
}

h1 {
	font-weight: 500;
	font-size: 3rem;
	margin-top: 1.25rem;
	margin-bottom: 1.5rem;
}

header h1,
section h1 {
	text-align: center;
	overflow: hidden;
}

p {
	color: #575757;
}

.about-me-paragraph {
	font-size: 1.7rem;
	line-height: 2.5rem;
	margin-top: 0;
	margin-bottom: 1rem;
	font-weight: 400;
}

.bg-graphic {
	z-index: -1;
	width: 4000px;
	height: 4000px;
	position: absolute;
	top: -3394px;
	left: -3000px;
	transform: rotate(-31deg);
	background-color: #448cac;
	color: #448cac;
	-webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.59);
	-moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.59);
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.59);
}

.portrait-img-container {
	position: relative;
}

.portrait-img-container img {
	-webkit-box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.75);
}

.portrait-overlay-text {
	position: absolute;
	left: 0;
	bottom: 0;
	color: white;
	padding: 0px 0px 0px 7px;
	text-shadow: -1px 3px 5px rgba(0, 0, 0, 0.83);
	font-weight: 400;
	font-size: 48px;
}

.social-links-container {
	display: flex;
	justify-content: center;
	gap: 1.625rem;
}

.social-link {
	width: 2.625rem;
}

.project-cards-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 2rem;
}

.project-card {
	-webkit-box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.75);
	min-height: 300px;
}

.project-screenshot {
	width: 100%;
	max-height: 250px;
	text-align: center;
	object-fit: contain;
}

.project-details {
	padding: 0.5rem 1.5rem 1.5rem 1.5rem;
}

.project-details h2 {
	font-weight: 500;
	margin: 0 0.8rem;
	font-size: 1.5rem;
}

.project-details p {
	font-weight: 500;
}

.project-details .heading-links-container {
	display: flex;
	justify-content: space-between;
}

.project-details .heading-links-container .links-container {
	display: flex;
	align-items: center;
	gap: 0.8rem;
}

.project-github-link {
	width: 28px;
	height: 28px;
}

.project-external-link {
	width: 28px;
	height: 28px;
}

@media screen and (min-width: 601px) {
	main {
		padding: 8rem 6rem 0px;
	}

	header section {
		display: block;
		float: left;
		background-color: white;
		-webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.59);
		-moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.59);
		box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.59);
		padding: 0 2rem 2rem 2rem;
		margin-bottom: 4rem;
	}

	.portrait-img-container {
		margin-top: -6rem;
		margin-left: -4rem;
		margin-right: 1rem;
		float: left;
	}

	header h1 {
		margin-top: 3rem;
		overflow: visible;
	}

	.portrait-overlay-text {
		top: 0.8rem;
		left: 16rem;
		text-wrap: nowrap;
	}

	.portrait-overlay-text br {
		display: none;
	}

	.about-me-paragraph {
		font-size: 1.5rem;
		line-height: 2.25rem;
	}

	.bg-graphic {
		top: -3370px;
		left: -2980px;
		transform: rotate(-15deg);
	}

	.social-links-container {
		justify-content: end;
		padding-top: 1rem;
	}

	main section {
		float: none;
	}

	section h1 {
		text-align: left;
	}

	.project-details h2 {
		font-weight: 500;
		margin: 0;
		font-size: 1.5rem;
	}
}

@media screen and (min-width: 1201px) {
	main {
		padding: 6rem 5rem 0px;
	}

	header section {
		position: relative;
		-webkit-box-shadow: 8px 9px 18px -7px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 8px 9px 18px -7px rgba(0, 0, 0, 0.75);
		box-shadow: 8px 9px 18px -7px rgba(0, 0, 0, 0.75);
		padding: 2rem 2rem 2rem 26.4rem;
	}

	.portrait-img-container {
		position: absolute;
		top: 0;
		left: 0;
		margin-left: -1rem;
		margin-top: -1.1rem;
	}

	.portrait-img-container img {
		width: 400px;
		-webkit-box-shadow: 8px 9px 18px -7px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 8px 9px 18px -7px rgba(0, 0, 0, 0.75);
		box-shadow: 8px 9px 18px -7px rgba(0, 0, 0, 0.75);
	}

	header h1 {
		text-align: left;
		margin: 0;
	}

	.portrait-overlay-text {
		top: auto;
		bottom: 0.3rem;
		left: 4.5rem;
	}

	.about-me-paragraph {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}

	.bg-graphic {
		top: -3370px;
		left: -2580px;
	}
}
